.header {
    padding-top: 5px;
}

.leftArea {
	position: absolute;
	left: 10px;
	top: 70px;
	bottom: 20px;
	width: 260px;
	border:solid 1px #CCCCCC;
	overflow-y: scroll;
}

.mainArea {
    position: absolute;
    top: 70px;
    bottom: 20px;
    left:300px;
    overflow-y: scroll;
    width:300px;
}

.rightArea {
	position: absolute;
	top: 70px;
	bottom: 20px;
	left:650px;
	overflow-y: scroll;
	width:270px;
}
